[submodule "tools/geom2graph/depends/googletest"]
	path = tools/geom2graph/depends/googletest
	url = https://github.com/google/googletest.git
	branch = master
[submodule "tools/geom2graph/depends/geos"]
	path = tools/geom2graph/depends/geos
	url = https://github.com/libgeos/geos.git
	branch = 3.9
[submodule "tools/geom2graph/depends/cxxopts"]
	path = tools/geom2graph/depends/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
	branch = master
